
// Font files
// Gabarito-Black, Gabarito-Bold, Gabarito-ExtraBold, Gabarito-Medium, Gabarito-Regular, Gabarito-SemiBold

@font-face {
    font-family: "Gabarito";
    src: url(../assets/fonts/Gabarito-Black.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url(../assets/fonts/Gabarito-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url(../assets/fonts/Gabarito-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url(../assets/fonts/Gabarito-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url(../assets/fonts/Gabarito-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url(../assets/fonts/Gabarito-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}