@import url("./padding.css");
@import url("./position.css");

/* Flex */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-grow {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-4 {
  gap: 4px;
}
.gap-5 {
  gap: 5px;
}

/* Height */
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.h-100vh {
  height: 100vh;
}
.h-50vh {
  height: 50vh;
}
.h-70vh {
  height: 70vh;
}
.h-30vh {
  height: 30vh;
}
.h-100px {
  height: 100px;
}
.h-150px {
  height: 150px;
}

/* Width */
.w-full {
  width: 100%;
}
.w-1 {
  width: 8.33%;
}
.w-2 {
  width: 16.66%;
}
.w-3 {
  width: 25%;
}
.w-4 {
  width: 33.33%;
}
.w-5 {
  width: 41.66%;
}
.w-6 {
  width: 50%;
}
.w-7 {
  width: 58.33%;
}
.w-8 {
  width: 66.66%;
}
.w-9 {
  width: 75%;
}
.w-10 {
  width: 83.33%;
}
.w-11 {
  width: 91.66%;
}
.w-12 {
  width: 100%;
}
.w-100 {
  width: 100px;
}

/* Height */

.h-50vh {
  height: 50vh;
}

.h-100 {
  height: 100px;
}
.h-150 {
  height: 150px;
}
.h-200 {
  height: 200px;
}
.h-auto {
  height: auto;
}
.h-1-4 {
  height: 25%;
}

/* Margin */
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.m-40 {
  margin: 40px;
}
.m-50 {
  margin: 50px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}

.mt-auto {
  margin-top: auto;
}
.mt-2 {
  margin-top: 2px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-22 {
  margin-top: 22px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-26 {
  margin-top: 26px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-30 {
  margin-top: 30px;
}

/* Background */

.bg-primary {
  background-color: var(--ion-color-primary);
}
.bg-dark {
  background-color: var(--ion-color-dark);
}
.bg-medium {
  background-color: var(--ion-color-medium);
}
.bg-light {
  background-color: var(--ion-color-light);
}
.bg-white {
  background-color: var(--ion-color-white);
}

/* Border radios */

.border-radius-50 {
  border-radius: 50px;
}
.border-bottom-right-radius-50 {
  border-bottom-right-radius: 50px;
}
.border-bottom-left-radius-50 {
  border-bottom-left-radius: 50px;
}

div ::-webkit-scrollbar {
  display: none;
}

/* Text */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

.text-primary {
  color: var(--ion-color-primary);
}

.text-dark {
  color: var(--ion-color-dark);
}

.text-medium {
  color: var(--ion-color-medium);
}

.text-white {
  color: var(--ion-color-white);
}

/* Font */
.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

/* Font Size */
.font-xs {
  font-size: 16px;
}
.font-sm {
  font-size: 18px;
}
.font-base {
  font-size: 25px;
}
.font-large {
  font-size: 30px;
}
.font-xl {
  font-size: 35px;
}
.font-2xl {
  font-size: 40px;
}

.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-26 {
  font-size: 26px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}

/* Font Weight */
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}

/* Border size */
.border-1 {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-3 {
  border-width: 3px;
}
.border-4 {
  border-width: 4px;
}
.border-5 {
  border-width: 5px;
}

/* Border style */
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-hidden {
  border-style: hidden;
}

/* Border color */
.border-primary {
  border-color: var(--ion-color-primary);
}
.border-dark {
  border-color: var(--ion-color-dark);
}
.border-medium {
  border-color: var(--ion-color-medium);
}
.border-light {
  border-color: var(--ion-color-light);
}
.border-white {
  border-color: var(--ion-color-white);
}

/* Shadow */
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
